@import "https://use.fontawesome.com/releases/v6.6.0/css/all.css";

body {
    margin: 0;
}

.header {
    overflow: hidden;
    background-color: lightgreen;
    padding: 1px 10px;
    display: flex;
    flex-direction: row;
}

.navbar {
    padding: 9px 0;
    overflow: hidden;
    background-color: rgba(0, 128, 0, 0);
}

.navbar a {
    border-radius: 25px;
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    border-radius: 25px;
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    color: white;
    background-color: green;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    max-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    color: white;
    background-color: green;
}

.dropdown:hover .dropdown-content {
    display: block;
}